.box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #3498db;
  position: relative;
}

@keyframes changeColor {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: #e74c3c;
  }
}

@keyframes moveBox {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

@media (max-width: 600px) {
  @keyframes moveBox {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50vw);
    }
  }
}
